#home_content{
	font-family: 'Lobster', cursive;
}
#home_content .donate{
	font-family: 'Oswald', sans-serif; 
    line-height: 1;
    text-align: center;
    color: #0088CB;
}
#home_content .donate_button{
	text-align: center;
}
#home_content .donate_button img{
	max-width: 125px;
	color: #0088CB;
}
#home_content .donate a{
	text-decoration: none;
	color: #ED1C24
}
#home_content .donate p{
	font-size: 40px;
	margin: 0;
}
#home_content .donate span{
	font-size: 80px;
	margin: 0;

}
#home_content .home_box{
	padding: 15px 20px 15px 20px;
    background-color: #eaeaea;
    border: black solid 5px;
}
#home_content .home_box:after{
	font-family: FontAwesome;
    content: "\f0dd";
    display: inline-block;
    font-size: 35px;
    text-align: center; 
    position: absolute;
    bottom: -20px;
    color: black;
    left: 100px;
}
#home_content .home_box p{
	line-height: 1.8;
	font-size: 16px;
	/*text-shadow: 1px 3px 5px rgba(150, 150, 150, 1);*/
	text-shadow: 4px 4px 4px rgba(150, 150, 150, 1);
}  
 
#home_content .goal_block img{
	padding: 10px 15px 20px 10px;
}
#home_content .donate_banner img{
	border: solid;
	-webkit-box-shadow: 4px 39px 88px -26px rgba(0,0,0,1);
	-moz-box-shadow: 4px 39px 88px -26px rgba(0,0,0,1);
	box-shadow: 4px 39px 88px -26px rgba(0,0,0,1);
	margin-bottom: 30px;
}

/*Big Slider*/
#home_content #myCarousel{
	padding: 0px 50px;
}
#home_content #myCarousel a.left.carousel-control{
    background-image: url(../../images/left.png);
    max-width: 100px;
    color: transparent;
    top: 30%;
    background-size: 40%;
    background-repeat: no-repeat; 
    text-shadow: none;
}
#home_content #myCarousel a.right.carousel-control{
    background-image: url(../../images/right.png);
    max-width: 100px;
    color: transparent;
    top: 30%;
    right: -60px;
    background-size: 40%;
    background-repeat: no-repeat;
    text-shadow: none;
}
#home_content #myCarousel .carousel-inner .item img{ 
	border: 10px solid #f8f8f8;
}

/*Small Slider*/
#home_content #myCarousel1{
    padding: 0px 50px;
}
#home_content #myCarousel1 a.left.carousel-control{
    background-image: url(../../images/left.png);
    max-width: 100px;
    color: transparent;
    top: 30%;
    left: 30px;
    background-size: 40%;
    background-repeat: no-repeat; 
    text-shadow: none;
}
#home_content #myCarousel1 a.right.carousel-control{
    background-image: url(../../images/right.png);
    max-width: 100px;
    color: transparent;
    top: 30%;
    right: 0px;
    background-size: 40%;
    background-repeat: no-repeat;
    text-shadow: none;
}
#home_content #myCarousel1 .carousel-inner .item img{ 
    border: 7px solid #0088CB; 
}